* {
  margin: 0;
  padding: 0;
  font-family: Raleway;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff54;
  height: 60px;
  position: absolute;
  z-index: 1;
}
img.logo {
  width: 180px;
}
.signupButton {
  font-size: 20px;
  margin: 22px 30px;
}
a#signup {
  text-decoration: none;
  color: black;
}

/******************* section: main ********************************/
.main {
  position: relative;
}

img.backgroundImg {
  width: 100%;
}
.searchResults {
  position: absolute;
  top: 65px;
  right: 30px;
}
input.searchBar {
  padding: 10px 20px;
  font-size: 18px;
  color: black;
  border: 0;
}
img.searchIcon {
  width: 26px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.Headings {
  position: absolute;
  top: 30vh;
  left: 40px;
}
h1.backgroundH1 {
  font-size: 6vw;
  color: white;
  font-family: Raleway;
}
p.backgroundParagraph {
  font-size: 2.5vw;
  margin-top: 20px;
  color: white;
  font-weight: 400;
  font-family: Raleway;
}
/*************************
*****Section:Options *****
*************************/
/* .option h2 {
  font-size: 31px;
  font-weight: normal;
  color: rgb(68, 68, 68);
  margin-bottom: 5%;
  position: relative;
  margin-block-start: 807px;
  margin-inline-start: 38px;
} */
.Category {
  width: 90%;
  margin: 40px auto;
}
h2#categoryH2 {
  margin: 10px;
  font-size: 45px;
}
ul.option {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
li.selected {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: 415px;
  position: relative;
  background-color: #f3f3f3ad;
}

img.cardImg {
  width: 80%;
}
.card {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
h3#cardH3 {
  font-size: 25px;
  position: absolute;
  top: 260px;
  left: 140px;
}
button.SearchHomeButton {
  padding: 10px 20px;
  font-size: 20px;
  background-color: black;
  color: white;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
  margin-top: 40px;
}
.ImageHolder1 {
  width: 100%;
}
ul.imageContainer {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
}
ul.imageContainer2 {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
}
li.imageMenus {
  width: 442px;
  display: grid;
}
img.image {
  width: 95%;
  height: 282px;
}
img.imageflex {
  width: 420px;
  height: 653px;
}

@media screen and (max-width: 900px) {
  li.imageMenus {
    width: 421px;
    padding-bottom: 20px;
  }
  img.image {
    padding-bottom: 20px;
  }
  img.imageflex {
    width: 400px;
  }
}

.top-left {
  position: relative;
  top: 50px;
  left: 1px;
  width: 94%;
  
  font-size: 41px;
  font-weight: 700;
  color: white;
  border-radius: 7px;
  background: linear-gradient(180deg, #000, transparent);
}

#vh {
  cursor: pointer;
  position: relative;
  top: -187%;
  left: 6%;
  width: 30%;
  
  padding: 2%;
  border-radius: 48px;
  font-size: 17px;
  border: 0px solid;
  background-color: hsla(0, 0%, 100%, 0.8);
}

#vm {
  cursor: pointer;
  position: relative;
  top: -187%;
  left: 42%;
  width: 14%;
  height: 98%;
  padding: 2%;
  border-radius: 13px;
  font-size: 17px;
  border: 1px solid;
  background-color: hsla(0, 0%, 100%, 0.8);
  margin-top: 15px;
}

/*************************
***** Buy *****
*************************/

.head {
  margin-top: 110px;
}
.header2 {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.55);
  box-shadow: 0px 1px 7px 1px grey;
  z-index: 2;
}
.searchResults1 {
  position: relative;
}
input.searchBar1 {
  padding: 10px 20px;
  font-size: 18px;
  color: black;
  border: 1px solid lightgrey;
  border-radius: 20px;
}
img.searchIcon1 {
  position: absolute;
  width: 20px;
  top: 6px;
  right: 101px;
}
.buy {
  width: 100%;
  margin: 0;
  background-color: #fefefe;
  background-size: 100% 100%;
}

.buy h2 {
  margin-left: 3%;
}

.buy .head h4 {
  font-size: 31px;
  font-weight: normal;
  color: rgb(68, 68, 68);
  
}

.buy ul.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 77%;
  padding: 150px;
  margin-bottom: -8%;
    
}

.buy .images li.box {
  width: 400px;
  padding: 4px;
  margin-bottom: 10%;
  box-shadow: 0px 0px 10px 0px grey;
  list-style: none;
  position: relative;
}
.buy .images img.fav {
  position: absolute;
  width: 12%;
  border: 0;
  right: 4%;
  top: 0;
}

.buy .images img {
  width: 100%;
}

.buy .images h3 {
  margin: 4% 0 3% 5%;
}

.buy .images p {
  margin: 4% 0 3% 5%;
}

@media screen and (min-width: 350px) and (max-width: 500px) {
  .searchResults1 {
    position: absolute;
    top: 20vw;
    width: 90%;
    margin: 0 5%;
    display: flex;
  }
  .head {
    margin-top: 160px;
  }
  input.searchBar1 {
    border: 1px solid;
    width: 100%;
  }
}

@media screen and (min-width: 300px) and (max-width: 349px) {
  .buy .head h4 {
    font-size: 16px;
  }

  .buy ul.images {
    grid-template-columns: repeat(1, 1fr);
  }

  .buy .images li.box {
    width: 95%;
  }

  .buy .head {
    margin: 21% 6% 0 8%;
  }
}

footer {
  margin: 8% 2% 0 2%;
  padding-bottom: 2%;
  border-top: 3px solid black;
  
}

.form {
  margin: auto 4%;
}

input[type='text'] {
  
  width: 70%;
  padding: 1% 0.5%;
  margin: 1% 0 1% -51px;
}

input[type='submit'] {
  cursor: pointer;
  color: white;
  background-color: #0d3cf5;
  font-size: 20px;
  border: 0;
  border-radius: 8px;
  padding: 0.7% 1%;
  margin: 1% 0 1% -170px;
}